.EaJiC {
  animation: 0s ease-in 0s 1 normal none running bcCCNc;
}


.EaJiC path {
  animation: 2s ease-in-out 0s infinite normal both running iTukXG;
}

.EaJiC path.circle1 {
  animation-delay: 0s;
}

.EaJiC path.circle2 {
  animation-delay: 0.5s;
}

.EaJiC path.circle3 {
  animation-delay: 1s;
}

.EaJiC path.circle4 {
  animation-delay: 1.5s;
}


.cGODKm {
  -webkit-box-align: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 1 1 0%;
}

@keyframes bcCCNc {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes iTukXG {
  0%, 50%, 100% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
}



#lookerbubbles {
  height: auto;
  max-height: 192px;
  max-width: 192px;
  width: 50%;
}
